<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    {% if msg == 'error' %}
         <script>alert('비밀번호를 확인하세요.')</script>
    {% endif %}
</head>
<body>
<h2>방명록</h2>
현재 접속중인 아이디 : {{request.session.userid}}<br>
검색옵션:{{searchkey}}, 검색키워드:{{search}}
<form name="form1" method="post">
    {% csrf_token %}
    {% if searchkey == 'name' %}
    <select name="searchkey"> <!--검색옵션-->
        <option value="name" selected>이름</option>
        <option value="content">내용</option>
        <option value="name_content">이름+내용</option>
    </select>
    {% elif searchkey == 'content' %}
    <select name="searchkey"> <!--검색옵션-->
        <option value="name">이름</option>
        <option value="content" selected>내용</option>
        <option value="name_content">이름+내용</option>
    </select>
    {% elif searchkey == 'name_content' %}
    <select name="searchkey"> <!--검색옵션-->
        <option value="name">이름</option>
        <option value="content">내용</option>
        <option value="name_content" selected>이름+내용</option>
    </select>
    {% endif %}

    <input name="search" value="{{search}}"><!--검색키워드-->
    <input type="submit" value="검색">
</form>

<input type="button" value="메인" onclick="location.href='/'">
<input type="button" value="글쓰기" onclick="location.href='/guestbook/write'">

{{gbCount}}개의 글이 있습니다.
{% for row in gbList%}
<form method="post" action="/guestbook/passwd_check">
    {% csrf_token %}
    <input type="hidden" name="idx" value="{{row.idx}}">
    <table border="1" width="600px">
        <tr>
            <td>이름</td>
            <td>{{row.name}}</td>
            <td>날짜</td>
            <td>{{row.post_date}}</td>
        </tr>
        <tr>
            <td>이메일></td>
            <td colspan="3">{{row.email}}</td>
        </tr>
        <tr>
            <td colspan="4">{{row.content}}</td>
        </tr>
        <tr>
            <td colspan="4">
                비밀번호 <input type="password" name="passwd">
                <input type="submit" value="수정/삭제">
            </td>
        </tr>
    </table>
</form>
{% endfor %}
</body>
</html>