<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>과학기술에 대한 관심과 의식에 대한 설문조사</title>
</head>
<body>
<h2>과학기술에 대한 관심과 의식에 대한 설문조사</h2>
설문에 정해진 응답은 없습니다.<br> 평소에 생각하신대로 표시해 주시면 됩니다.<br>
응답하신 내용은 통계적으로만 집계되며 다른 용도로 사용되지 않습니다.<br>
아래의 설문참여하기 버튼을 클릭하시면 참여할 수 있습니다.<br>
<br><table border="1">
    <th bgcolor="grey">조사기간</th>
    <td>2020년 1월 30일(목)까지</td>
    <tr>
        <th bgcolor="grey">사례금</th>
        <td align="center">0원</td>
    </tr>
    <tr>
        <th bgcolor="grey">소요시간</th>
        <td>약 10분(본 조사 소요시간)</td>
    </tr>
</table>

<p>
<a href="/survey">조사참여하기</a><br>
</p>
<style>
    p{
    text-align: center;
    }
</style>
</body>
</html>