<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>과학기술에 대한 관심과 의식에 대한 설문조사</title>
</head>
<body>
<h2>과학기술에 대한 관심 구분</h2>
질문1. 당신은 새로운 발명이나 기술, 새로운 과학적 발견등의 과학기술 전반에 대해 관심이 있습니까?
<br>(A)매우 관심있다.<input type="radio" name="num{{a.survey_idx}}" value="1"><br>
<br>(B)관심이 있는 편이다.<input type="radio" name="num{{a.survey_idx}}" value="1"><br>
<br>(C)매우 관심있다.<input type="radio" name="num{{a.survey_idx}}" value="1"><br>
<br>(D)매우 관심있다.<input type="radio" name="num{{a.survey_idx}}" value="1"><br>
</body>
</html>